/*Preloader*/
#loading{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;
}
.object{
    width: 25px;
    height: 25px;
    float: left;
}
#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}
#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}
@-webkit-keyframes loading-center-absolute {
    100% { -webkit-transform: rotate(-45deg); }
}
@keyframes loading-center-absolute {
    100% { 
        transform:  rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
    }
}
@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}
@keyframes object_one {
    25% { 
        transform: translate(0,-50px) rotate(-180deg);
        -webkit-transform: translate(0,-50px) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}
@keyframes object_two {
    25% { 
        transform: translate(50px,0) rotate(-180deg);
        -webkit-transform: translate(50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}
@keyframes object_three {
    25% { 
        transform:  translate(-50px,0) rotate(-180deg);
        -webkit-transform:  translate(-50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: rtranslate(0,0) rotate(-180deg);
    }
}
@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}
@keyframes object_four {
    25% { 
        transform: translate(0,50px) rotate(-180deg); 
        -webkit-transform: translate(0,50px) rotate(-180deg);  
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
/*End off Preloader*/

/*Payment*/
#hong{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#hong-center{
    width: 100%;
    height: 100%;
    position: relative;
}
.payment{
    position: relative;
    left: 15%;
    top: 10%;
    height: 15%;
    width: 70%;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
}
/*End off Payment*/
/*Loding*/
#loading2{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center-absolute2 {
    position: absolute;
    left: 45%;
    top: 49%;
    height: 25px;
    width: 140px;
    transform: ; 
    animation: ;
}
.object2{
    width: 25px;
    height: 25px;
    margin: 5px;
    float: left;
}
#object_one2 {
    animation: object_one2 .5s infinite;
}
@keyframes object_one2 {
    0% { 
        transform: scale(1);
    }
    10% { 
        transform: scale(1.5);
    }
    25% { 
        transform: scale(1);
    }
}
#object_two2 {
    animation: object_two2 .5s infinite;
}
@keyframes object_two2 {
    25% { 
        transform: scale(1);
    }
    35% { 
        transform: scale(1.5);
    }
    50% { 
        transform: scale(1);
    }
}
#object_three2 {
    animation: object_three2 .5s infinite;
}
@keyframes object_three2 {
    50% { 
        transform: scale(1);
    }
    60% { 
        transform: scale(1.5);
    }
    75% { 
        transform: scale(1);
    }
}
#object_four2 {
    animation: object_four2 .5s infinite;
}
@keyframes object_four2 {
    75% { 
        transform: scale(1);
    }
    85% { 
        transform: scale(1.5);
    }
    100% { 
        transform: scale(1);
    }
}

/*End off Loding*/